:root {
  --margin__0: 0;
  --margin__1: 1.5rem;
  --margin__2: 1.5rem;
  --margin__3: 0.75rem;
  --margin__4: 0.45rem;
  --color__0: #131314;
  --color__1: #262627;
  --color__2: #3f4041;
  --color__3: #595a5b;
  --color__4: #7f8082;
  --color__5: #a5a6a8;
  --color__6: #bfbfc0;
  --color__7: #d9d9da;
  --color__8: #ececec;
  --color__9: #fff;
}
@font-face {
  font-family: Microgramma D Extended;
  font-weight: bold;
  src: url("fonts/MicrogrammaD-BoldExte.woff2");
  src: url("fonts/MicrogrammaD-BoldExte.woff");
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #131314;
  margin: 0;
  background-color: #7f8082;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #131314;
  margin-bottom: 0.5em;
}
h1,
h2 {
  font-family: Microgramma D Extended, sans-serif;
}
a {
  text-decoration: none;
  color: #ececec;
}
.list-style--none {
  list-style: none;
  padding-left: 0;
}
svg {
  overflow: visible;
  display: block;
}
.svg-fill--color__0 {
  fill: #131314;
}
.svg-fill--color__8 {
  fill: #ececec;
}
.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
.range-slider__input {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.range-slider__wrap {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #262627;
  z-index: 3;
}
.range-slider__fill {
  position: absolute;
  width: 0;
  height: 100%;
  user-select: none;
  z-index: 4;
  background-color: #ececec;
}
.range-slider__handle {
  cursor: pointer;
  position: absolute;
  top: -5.5px;
  left: 0;
  width: 15px;
  height: 15px;
  margin-left: -8px;
  border-radius: 50%;
  transition: all 0.2s ease;
  user-select: none;
  z-index: 5;
  background-color: #ececec;
}
.masthead__container {
  display: grid;
  padding: var(--margin__1);
  height: calc(100vh - 50px);
  min-height: 116.66vw;
  grid-template-areas: "video-production" "logo" "service-list" "header-contact";
  grid-template-rows: auto auto auto 1fr;
}
.logo {
  grid-area: logo;
  width: 100%;
  max-width: 23.425rem;
  padding-bottom: 1.28vw;
}
.video-production {
  font-size: calc(calc(100vw - calc(2 * var(--margin__1))) / 12.979);
  margin: 0;
  grid-area: video-production;
}
.service-list {
  margin: 0.25em 0;
  font-size: 5.85vw;
  font-weight: bold;
  text-transform: uppercase;
  grid-area: service-list;
}
.header-contact {
  grid-area: header-contact;
  align-self: center;
  font-size: 6.25vw;
  margin: 0.35em 0;
}
.header-contact a {
  font-weight: bold;
}
.main__container {
  display: grid;
  grid-template-areas: "reel" "about" "portfolio";
  grid-gap: var(--margin__2);
}
.block {
  overflow-x: hidden;
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-areas: "header" "content";
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
}
.block img {
  width: 100%;
  height: auto;
  display: block;
}
.block--reel {
  grid-area: reel;
}
.block--about {
  grid-area: about;
}
.block--portfolio {
  grid-area: portfolio;
  margin-bottom: 0;
}
.block--contact {
  grid-area: contact;
}
.block__title {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-right: 0;
  transform: skewX(-30deg);
  margin: 0;
}
.block__title__text {
  padding: 0 1.5em 0 var(--margin__1);
  transform: skewX(30deg);
  border-bottom: 0.2em solid #ececec;
}
.block__title__decoration {
  width: 110%;
  max-width: 80rem;
  display: grid;
  grid-template-columns: 15vw 10vw 5vw auto;
}
.block__title__decoration span:nth-child(1) {
  background-color: #ececec;
  border-bottom: 0.2em solid #ececec;
}
.block__title__decoration span:nth-child(2) {
  background-color: #d9d9da;
  border-bottom: 0.2em solid #d9d9da;
}
.block__title__decoration span:nth-child(3) {
  background-color: #bfbfc0;
  border-bottom: 0.2em solid #bfbfc0;
}
.block__title__decoration span:nth-child(4) {
  background-color: #a5a6a8;
  border-bottom: 0.2em solid #a5a6a8;
}
.block__content {
  background-color: #262627;
  color: #a5a6a8;
  padding: calc(1.6 * var(--margin__1))  var(--margin__1);
  height: 100%;
}
.block__content h3 {
  color: #d9d9da;
}
.block__content p {
  color: #bfbfc0;
  line-height: 1.5;
}
.block__video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.block__video,
.portfolio-item__video {
  width: 100%;
  height: auto;
}
.block__video--reel {
  border-radius: 1rem;
  overflow: hidden;
}
.block__content--about {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: var(--margin__1);
  grid-row-gap: var(--margin__2);
  justify-items: center;
  justify-content: center;
}
.block__content--about picture {
  max-width: 300px;
  align-self: start;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
}
.block__content--about h3 {
  width: 100%;
  margin: var(--margin__2) 0 0;
}
.block__content--about p {
  margin: 0;
}
.block__content--portfolio {
  display: grid;
  grid-gap: var(--margin__2);
  grid-template-columns: 1fr;
  padding-left: var(--margin__0);
  padding-right: var(--margin__0);
}
.portfolio-item {
  background-color: #0a0a0a;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-bottom: 0.5%;
}
.portfolio-item__title {
  color: #d9d9da;
  margin: var(--margin__3);
}
.portfolio-item__meta {
  padding: var(--margin__3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: var(--margin__4);
  grid-template-areas: "desc desc" "date genre";
  font-size: 0.875rem;
  color: #7f8082;
}
.portfolio-item__desc {
  grid-area: desc;
  font-size: 1rem;
  color: #a5a6a8;
}
.portfolio-item__date {
  grid-area: date;
}
.portfolio-item__genre {
  grid-area: genre;
  text-align: right;
}
.colophon__container {
  display: flex;
  justify-content: space-between;
  padding: var(--margin__1) var(--margin__1) calc(var(--margin__1) / 2);
  font-size: 0.75rem;
  background-color: #0a0a0a;
  color: #7f8082;
}
.colophon__container a {
  color: #ececec;
}
.colophon__container a:hover {
  color: #ececec;
}
.colophon__container a:visited {
  color: #ececec;
}
.designed-by a {
  text-decoration: underline;
}
.player {
  position: relative;
}
.player__video {
  display: block;
  width: 100%;
}
.player__controls {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: #ececec;
  z-index: 1;
}
.player__controls-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: min-content;
  padding: 0.3125rem 0.4375rem;
  background-color: #595a5b;
  z-index: 2;
}
.player__button {
  background: none;
  border: none;
  color: #ececec;
  cursor: pointer;
}
.player__button--play-toggle {
  flex-shrink: 0;
  padding: 0;
  z-index: 2;
}
.player__button--play-toggle__inner {
  width: 3.75rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  background-color: #595a5b;
}
.player__button--play-toggle svg {
  width: 100%;
  height: auto;
}
.player__button:hover {
  color: #fff;
}
.player__time {
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 300;
  padding: 0 0.125em;
  margin-right: 0.5rem;
}
.player__progress {
  flex-grow: 1;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.player__volume {
  width: 4rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.player__decoration {
  width: 4.75rem;
  height: 100%;
  position: absolute;
  background-color: #595a5b;
  transform: skew(30deg);
}
@media (min-width: 480px) {
  .masthead__container {
    grid-template-areas: "logo video-production" "logo service-list" "logo header-contact";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr auto;
    grid-column-gap: 7.5vw;
    justify-content: end;
    height: auto;
    min-height: initial;
  }
  .logo {
    grid-area: logo;
  }
  .video-production {
    grid-area: video-production;
    line-height: 1;
    font-size: 2.75vw;
    text-align: right;
    text-decoration: underline;
    text-decoration-line: 2em;
    margin: 0;
  }
  .service-list {
    grid-area: service-list;
    font-size: 2.25vw;
    text-align: right;
    margin-top: 0.5em;
  }
  .header-contact {
    grid-area: header-contact;
    text-align: right;
    font-size: 2.25vw;
    margin: 0;
    align-content: end;
  }
}
@media (min-width: 660px) {
  :root {
    --margin__0: 5vw;
    --margin__1: 5vw;
    --margin__2: 3vw;
    --margin__3: 1rem;
    --margin__4: 0.6rem;
  }
  .block__content--about {
    grid-template-columns: minmax(100px, 300px) minmax(20em, 30em);
    grid-template-rows: auto 1fr;
    grid-template-areas: "figure heading" "figure text";
  }
  .block__content--about picture {
    grid-area: figure;
  }
  .block__content--about h3 {
    grid-area: heading;
    margin-top: 0;
  }
  .block__content--about p {
    grid-area: text;
  }
  .block__content--portfolio {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }
  .portfolio-item {
    border-radius: 0.35rem;
    overflow: hidden;
  }
  .colophon {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 800px) {
  .logo {
    padding-bottom: 0.64rem;
  }
  .video-production {
    font-size: 1.375rem;
  }
  .service-list,
  .header-contact {
    font-size: 1.125rem;
  }
}
@media (min-width: 1024px) {
  .main__container {
    grid-template-areas: "reel about" "portfolio portfolio";
    grid-template-columns: 1fr minmax(30%, 40%);
  }
  .block--reel {
    border-radius: 0 0.35rem 0.35rem 0;
  }
  .block--about {
    border-radius: 0 0 0 0.35rem;
  }
  .block--about .block__title__text {
    padding-left: 0;
  }
  .block__content--about {
    grid-template-columns: 100%;
    grid-template-areas: "figure" "heading" "text";
    grid-row-gap: 1.5em;
  }
  .block__content--about h3 {
    margin-top: 1.5em;
  }
}
@media (min-width: 1280px) {
  :root {
    --margin__0: 4rem;
    --margin__1: 4rem;
    --margin__2: 2.4rem;
  }
  .masthead__container {
    grid-column-gap: 6rem;
  }
  .block__title__decoration {
    grid-template-columns: 12rem 8rem 4rem auto;
  }
  .block--reel {
    border-radius: 0 0.35rem 0.35rem 0.35rem;
  }
  .block--about {
    border-radius: 0 0.35rem 0.35rem 0.35rem;
  }
  .block--portfolio {
    border-radius: 0 0.35rem 0 0;
  }
  .block__title__text {
    padding-left: 0;
  }
}
