mixin stack()
    - var style
    - if (attributes.space) { style={style: '--space: ' + attributes.space + ';' }}
    div.stack(class!=[attributes.class, {recursive: attributes.recursive === "true" }]
        id=attributes.id
        )&attributes(style)
        block

mixin box()
    - if (attributes.padding) { style={style: '--padding: ' + attributes.padding + ';' }}
    div.box(class!=attributes.class)&attributes(style)
        block

mixin center()
    - if (attributes.max) { style={style: 'max-width: ' + attributes.max + ';' }}
