head
  meta(charset='UTF-8')
  title Nigel Lyons Video Production
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='style.css')

  // SEO
  meta(name='description' content='Videography, direction, production, editing based in Washington, DC')
  meta(name='author' content='Charles Robertson')