header.masthead
  //- div.logo
  include ../images/nigelyons-logo.svg
  ul.service-list
    li: h3 Direction
    li: h3 Production
    li: h3 Cinematography
    li: h3 Editing
  div.header-contact
    a(href='#') nigel@nigelyons.com
    a(href='#') 614.560.4887
  div.header-subtext
    include ../images/4k.svg