include global

doctype html
html(lang="en")
  include head
  body
    //- include main
    +stack(class="fat-stack" id="num1" space="var(--s2)" recursive="true")
      p hi
      p there
      p who
      +box(padding="var(--s2)")
        p the
        p fuck
      p are
      p you
    include footer