main.main
  .main__container.container
    +c-block('Reel', 'reel')
      div.block__video.block__video--reel
        //- <video preload="none" tabindex="-1" style="" src="blob:https://player.vimeo.com/5810eb8f-8f0d-3f44-ae5d-c390c870b948"></video>
        video(
          id="reel"
          class="video-js"
          width="740" height="416"
          data-setup='{ "techOrder": ["vimeo"], "sources": [{ "type": "video/vimeo", "src": "https://vimeo.com/120547617"}], "vimeo": { "color": "#ffffff"} }'
        )
  
        //- <iframe src="https://player.vimeo.com/video/120547617?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" width="740" height="416" frameborder="0" allowfullscreen="allowfullscreen" title="Video Player"></iframe>   
    
    +c-block('About', 'about')
      picture.block__text--about__image
        source(type='image/webp' srcset='images/nigel_900.webp 900w, images/nigel_600.webp 600w, images/nigel_300.webp 300w')
        source(type='image/jpg' srcset='images/nigel_900.jpg 900w, images/nigel_600.jpg 600w, images/nigel_300 300w')
        img(src='images/nigel_900.jpg' srcset='images/nigel_900.jpg 900w, images/nigel_600.jpg 600w, images/nigel_300 300w' alt='Nigel Lyons standing in the street in DC facing the camera')
      h3 Nigel Lyons
      p Hailing from Ohio, now freelancing in Washington, DC. Shooter and editor of all things documentary, political, art, music and tv. Whether creating a captivating video for a successful Kickstarter campaign or shooting a music video in anamorphic widescreen, Nigel brings his unique ideas, vision and creative energies to every project.
    
    +c-block('Portfolio', 'portfolio')
      +portfolio-item('Clones of Clones - Somebody Else', 'Directed, Filmed and Edited.', 'September 22, 2015', 'Music Video')
        <iframe src="https://www.youtube.com/embed/hA4d5RYNZNg?rel=0" allowfullscreen="allowfullscreen" width="740" height="416" frameborder="0" title="Video Player"></iframe>
      
      +portfolio-item('Homeless in Washington', 'Filmed all principle photography.', 'February 10, 2014', 'Documentary')
        <iframe src="//player.vimeo.com/video/86344628?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="740" height="416" frameborder="0" title="Video Player"></iframe>
      
      +portfolio-item('Congressdude - Full Pilot', 'Co-creator and director of photography', 'March 1, 2014', 'Comedy')
        <iframe src="//www.youtube.com/embed/-SyngEalLz8" allowfullscreen="" width="740" height="416" frameborder="0" title="Video Player"></iframe>
      
      +portfolio-item('Irvine for Congress: The Third Finger', 'Shot and produced this ad for Travis Irvine’s congressional campaign.', 'May 7, 2014', 'Political')
        <iframe src="//www.youtube.com/embed/jt2fHsPqdzU" allowfullscreen="" width="740" height="416" frameborder="0" title="Video Player"></iframe>
      
      +portfolio-item('The Importance of S/4HANA', 'Filmed', 'February 25, 2015', 'Corporate')
        <iframe src="https://www.youtube.com/embed/7S4-_--ZvkE?rel=0" allowfullscreen="allowfullscreen" width="740" height="416" frameborder="0" title="Video Player"></iframe>

script(src='video-js/video.min.js')
script(src='video-js/videojs-vimeo.min.js')      