main.content
    article.block.reel
      h2.block__title #[span.block__title__text Reel]
      div.video
        <iframe src="https://player.vimeo.com/video/120547617?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" width="740" height="416" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    article.block.about
      h2.block__title #[span.block__title__text About]
      div.block__content
        img(src='images/n-lyons_headshot_4-27-13_300x214.jpg' class="profile-pic" alt="Nigel headshot")
        h3 Nigel Lyons
        p Hailing from Ohio, now freelancing in Washington, DC. Shooter and editor of all things documentary, political, art, music and tv. Whether creating a captivating video for a successful Kickstarter campaign or shooting a music video in anamorphic widescreen, Nigel brings his unique ideas, vision and creative energies to every project.
    article.block.portfolio
      h2.block__title #[span.block__title__text Portfolio]
      div.block__content
    article.block.contact
      h2.block__title #[span.block__title__text Contact]