main.main
  .main__container.container
    +c-block('Reel', 'reel')
      //- div.block__video-wrap.block__video-wrap--reel
        //- <video preload="none" tabindex="-1" style="" src="blob:https://player.vimeo.com/5810eb8f-8f0d-3f44-ae5d-c390c870b948"></video>
      //- video(
      //-   class="block__video block__video--reel"
      //-   width="740" height="416"
      //-   controls)
      //-   source(src='video/Nigel Reel 2015.mp4' type='video/mp4')
        //- <iframe src="https://player.vimeo.com/video/120547617?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" width="740" height="416" frameborder="0" allowfullscreen="allowfullscreen" title="Video Player"></iframe>   

      .player
        video.player__video
          source(src='video/nigel-reel-2015_480.mp4' type='video/mp4')
          source(src='video/nigel-reel-2015_640.mp4' type='video/mp4')
          source(src='video/nigel-reel-2015_1280.mp4' type='video/mp4')
          source(src='video/nigel-reel-2015_1920.mp4' type='video/mp4')

        .player__controls
          button.player__button.player__play-toggle(title='Toggle Play')
            .player__play-toggle__inner
              <svg fill="currentColor" width="28" height="20" viewBox="0 0 28 20" role="img" aria-labelleby="play-title">
                <title id="play-title">Play</title>
                <path d="M0 10V0L28 10L0 20V10Z"/>
              </svg>

          .player__controls-wrap
            .player__progress-time #[span.player__progress-time-current 0:00] / #[span.player__progress-time-remaining 0:00]
            +range-slider('progress')
              //- input.range-slider__input.range-slider__input--progress(type='range' name='progress' min=0 max=1 step='.05' value='0')
              input.player__progress-range(type='range' name='progress' min=0 max=1 step='any' value='0')
            button.player__button.player__audio-toggle(title='Toggle Audio')
              <svg fill="currentColor" class="player__icon" width="20" height="20" viewBox="0 0 20 20" role="img" aria-labelledby="audio-title">
                <title id="audio-title">Volume</title>
                <path d="M8.8 0L2.8 6H0V8.8V11.2V14H2.8L8.8 20V0Z" />
                <path d="M20 9.98633V10.0137C19.9964 13.2593 18.7029 16.1972 16.6135 18.3247L15.6324 17.3258C17.4737 15.4509 18.6125 12.8609 18.6125 10C18.6125 7.13911 17.4737 4.54905 15.6324 2.67422L16.6135 1.67525C18.7029 3.80275 19.9964 6.74073 20 9.98633ZM13.9973 15.6608C15.4201 14.2121 16.3001 12.2107 16.3001 10C16.3001 7.78931 15.4201 5.7879 13.9973 4.33917L13.0162 5.33813C14.188 6.53121 14.9127 8.17943 14.9127 10C14.9127 11.8206 14.188 13.4688 13.0162 14.6619L13.9973 15.6608ZM11.3811 12.9969C12.1343 12.2299 12.6002 11.1704 12.6002 10C12.6002 8.82963 12.1343 7.77006 11.3811 7.00308L10.4 8.00205C10.9022 8.51337 11.2128 9.21975 11.2128 10C11.2128 10.7802 10.9022 11.4866 10.4 11.9979L11.3811 12.9969Z"/>
              </svg>
            +range-slider('volume')
              input.player__volume-range(type='range' name='volume' min=0 max=1 step='0.05' value='1')
            button.player__button.quality(title='Quality')
              <svg fill="currentColor" width="20" height="20" viewBox="0 0 20 20" role="img" aria-labelledby="quality-title">
                <title id="quality-title">Quality</title>
                <path fill-rule="evenodd" d="M8.79444 3.10342L6.31341 0.701493C5.39864 1.06448 4.55015 1.55855 3.79111 2.16052L4.63041 5.50887C4.11555 6.12378 3.70434 6.82845 3.42368 7.596L0.10538 8.543C0.0359497 9.01863 0 9.50512 0 10C0 10.4949 0.0359498 10.9814 0.10538 11.457L3.42369 12.404C3.70435 13.1716 4.11555 13.8762 4.63041 14.4911L3.79111 17.8395C4.55015 18.4415 5.39864 18.9355 6.31341 19.2985L8.79445 16.8966C9.18608 16.9646 9.58888 17 9.99996 17C10.411 17 10.8139 16.9646 11.2055 16.8966L13.6865 19.2985C14.6013 18.9356 15.4498 18.4415 16.2088 17.8395L15.3695 14.4911C15.8844 13.8762 16.2956 13.1716 16.5762 12.404L19.8946 11.457C19.9641 10.9814 20 10.4949 20 10C20 9.50513 19.9641 9.01864 19.8946 8.54301L16.5762 7.59599C16.2956 6.82845 15.8844 6.1238 15.3695 5.50889L16.2088 2.16048C15.4498 1.55852 14.6013 1.06446 13.6865 0.701477L11.2055 3.10343C10.8139 3.03544 10.411 3.00001 9.99996 3.00001C9.58888 3.00001 9.18608 3.03544 8.79444 3.10342ZM9.99919 13C11.656 13 12.9992 11.6569 12.9992 10C12.9992 8.34315 11.656 7.00001 9.99919 7.00001C8.34234 7.00001 6.99919 8.34315 6.99919 10C6.99919 11.6569 8.34234 13 9.99919 13Z" />
                //- <path fill-rule="evenodd" d="M12.3864 2.36199L11.7562 0.153705C11.1861 0.0526955 10.5992 0 10 0C9.40087 0 8.81402 0.0526939 8.24386 0.1537L7.61364 2.36197C6.47161 2.71841 5.43952 3.32391 4.58094 4.11491L2.35257 3.55634C1.59913 4.44961 0.999359 5.47672 0.593997 6.59691L2.19245 8.248C2.06648 8.81185 2.00002 9.39816 2.00002 10C2.00002 10.6018 2.06648 11.1881 2.19245 11.752L0.593994 13.4031C0.999355 14.5233 1.59913 15.5504 2.35256 16.4437L4.58094 15.8851C5.43952 16.6761 6.47161 17.2816 7.61364 17.638L8.24386 19.8463C8.81402 19.9473 9.40087 20 10 20C10.5992 20 11.1861 19.9473 11.7562 19.8463L12.3864 17.638C13.5285 17.2816 14.5605 16.6761 15.4191 15.8851L17.6475 16.4436C18.4009 15.5504 19.0007 14.5233 19.4061 13.4031L17.8076 11.752C17.9336 11.1881 18 10.6018 18 10C18 9.39818 17.9336 8.81188 17.8076 8.24804L19.4061 6.59693C19.0007 5.47674 18.4009 4.44962 17.6475 3.55635L15.4191 4.11492C14.5605 3.32393 13.5285 2.71843 12.3864 2.36199ZM9.99922 13C11.6561 13 12.9992 11.6568 12.9992 10C12.9992 8.34314 11.6561 7 9.99922 7C8.34237 7 6.99922 8.34314 6.99922 10C6.99922 11.6568 8.34237 13 9.99922 13Z"/>
              </svg>
            button.player__button.player__fullscreen-toggle(title='Fullscreen')
              <svg fill="currentColor" width="20" height="18" viewBox="0 0 20 18" role="img" aria-labelledby="fullscreen-title">
                <title id="fullscreen-title">Fullscreen</title>
                <path d="M0 0H3H8V3H3V7H0V3V0ZM20 0V3V7H17V3H12V0H17H20ZM17 18H20V15V11H17V15H12V18H17ZM0 18V15V11H3V15H8V18H3H0Z" />
                //- <path d="M7.28571 0H2.42857H2.5332e-07V2.42857V5.82857H2.42857L2.42857 2.42857H7.28571V0ZM21.8571 0H17V2.42857H21.8571V5.82857H24.2857V2.42857V0H21.8571ZM2.42857 14.5714H7.28571V17H2.42857H2.5332e-07V14.5714L0 11.1714H2.42857L2.42857 14.5714ZM21.8571 14.5714H17V17H21.8571H24.2857V14.5714V11.1714H21.8571V14.5714Z"/>
              </svg>
            
          .player__decoration(role='presentation')

    +c-block('About', 'about')
      picture.block__text--about__image
        source(type='image/webp' srcset='images/nigel_900.webp 900w, images/nigel_600.webp 600w, images/nigel_300.webp 300w')
        source(type='image/jpg' srcset='images/nigel_900.jpg 900w, images/nigel_600.jpg 600w, images/nigel_300 300w')
        img(src='images/nigel_900.jpg' srcset='images/nigel_900.jpg 900w, images/nigel_600.jpg 600w, images/nigel_300 300w' alt='Nigel Lyons standing in the street in DC facing the camera')
      h3 Nigel Lyons
      p Hailing from Ohio, now freelancing in Washington, DC. Shooter and editor of all things documentary, political, art, music and tv. Whether creating a captivating video for a successful Kickstarter campaign or shooting a music video in anamorphic widescreen, Nigel brings his unique ideas, vision and creative energies to every project.
    
    //- +c-block('Portfolio', 'portfolio')
      +portfolio-item('Clones of Clones - Somebody Else', 'Directed, Filmed and Edited.', 'September 22, 2015', 'Music Video')
        <iframe src="https://www.youtube.com/embed/hA4d5RYNZNg?rel=0" allowfullscreen="allowfullscreen" width="740" height="416" frameborder="0" title="Video Player"></iframe>
      
      +portfolio-item('Homeless in Washington', 'Filmed all principle photography.', 'February 10, 2014', 'Documentary')
        <iframe src="//player.vimeo.com/video/86344628?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="740" height="416" frameborder="0" title="Video Player"></iframe>
      
      +portfolio-item('Congressdude - Full Pilot', 'Co-creator and director of photography', 'March 1, 2014', 'Comedy')
        <iframe src="//www.youtube.com/embed/-SyngEalLz8" allowfullscreen="" width="740" height="416" frameborder="0" title="Video Player"></iframe>
      
      +portfolio-item('Irvine for Congress: The Third Finger', 'Shot and produced this ad for Travis Irvine’s congressional campaign.', 'May 7, 2014', 'Political')
        <iframe src="//www.youtube.com/embed/jt2fHsPqdzU" allowfullscreen="" width="740" height="416" frameborder="0" title="Video Player"></iframe>
      
      +portfolio-item('The Importance of S/4HANA', 'Filmed', 'February 25, 2015', 'Corporate')
        <iframe src="https://www.youtube.com/embed/7S4-_--ZvkE?rel=0" allowfullscreen="allowfullscreen" width="740" height="416" frameborder="0" title="Video Player"></iframe>

script(src='js/video.js')