.main
  &__container
    display: grid
    grid-template-areas: "reel" "about" "portfolio" // "contact"
    grid-gap: margin__2

.block
  overflow-x: hidden
  margin-bottom: 2.5rem
  display: grid
  grid-template-areas: "header" "content"
  grid-template-columns: 100%
  grid-template-rows: auto 1fr
  & img
    width: 100%
    height: auto
    display: block

.block--reel
  grid-area: reel

.block--about
  grid-area: about

.block--portfolio
  grid-area: portfolio
  margin-bottom: 0;

.block--contact
  grid-area: contact

.block__title
  display: grid
  grid-template-columns: auto 1fr
  padding-right: 0
  transform: skewX(-30deg)
  margin: 0

.block__title__text
  padding: 0 1.5em 0 margin__1
  transform: skewX(30deg)
  border-bottom: .2em solid color__8
  // box-shadow: 0 .1em color__0

.block__title__decoration
  width: 110%
  max-width: 80rem
  display: grid
  grid-template-columns: 15vw 10vw 5vw auto
  // box-shadow: 0 .1em color__0
  span:nth-child(1)
    background-color: color__8
    border-bottom: .2em solid color__8
  span:nth-child(2)
    background-color: color__7
    border-bottom: .2em solid color__7
  span:nth-child(3)
    background-color: color__6
    border-bottom: .2em solid color__6
  span:nth-child(4)
    background-color: color__5
    border-bottom: .2em solid color__5


.block__content
  background-color: color__1
  color: color__5
  padding: margin__1
  height: 100%

.block__content
  // margin: margin__1
  h3
    color: color__7
    // margin-top: .75em
  p
    color: color__6
    line-height: 1.5

// Video
.block__video 
  position: relative
  padding-bottom: 56.25%
  height: 0
  
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

// Reel
.block__video--reel
  border-radius: 1rem
  overflow: hidden

// About
.block__content--about
  display: grid
  grid-template-columns: 100%
  grid-column-gap: margin__1
  grid-row-gap: margin__2
  justify-items: center
  justify-content: center
  
  picture
    max-width: 300px
    align-self: start
    margin: 0 auto
    border-radius: 1rem
    overflow: hidden

  h3
    width: 100% 
    margin: margin__2 0 0

  p
    margin: 0

// Portfolio
.block__content--portfolio
  display: grid
  grid-gap: margin__2
  grid-template-columns: 1fr
  padding: margin__1 0

.portfolio-item
  background-color: darken(color__0, 50%)
  display: grid
  grid-template-rows: auto 1fr auto
  padding-bottom: .5%
  
.portfolio-item__title
  color: color__7
  margin: margin__3

.portfolio-item__video
  @extend .block__video

.portfolio-item__meta
  padding: margin__3
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: auto auto
  grid-gap: margin__4
  grid-template-areas: "desc desc" "date genre"
  font-size: font-size__small
  color: color__4

.portfolio-item__desc
  grid-area: desc
  font-size: 1rem
  color: color__5

.portfolio-item__date
  grid-area: date
  

.portfolio-item__genre
  grid-area: genre
  text-align: right
  
