
// Margins
margin__0--min = 0
margin__0--mid = 5vw
margin__0--max = 4rem

margin__1--min = 1.5rem
margin__1--mid = 5vw
margin__1--max = 4rem

margin__2--min = 1.5rem
margin__2--mid = .6 * margin__1--mid
margin__2--max = 2.4rem

margin__3--min = .75rem
margin__3--mid = 1rem

margin__4--min = .6 * margin__3--min
margin__4--mid = .6 * margin__3--mid

// Variables
:root
  --margin__0: margin__0--min
  --margin__1: margin__1--min
  --margin__2: margin__2--min
  --margin__3: margin__3--min
  --margin__4: margin__4--min

// Variable rename
margin__0 = var(--margin__0)
margin__1 = var(--margin__1)
margin__2 = var(--margin__2)
margin__3 = var(--margin__3)
margin__4 = var(--margin__4)

// Typography
font-family__heading = Microgramma D Extended, sans-serif
font-family__text = 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
font-size__small = .875rem

// margin__portfolio-item = .75rem

border-radius__default = .35rem

// Colors
color__base = (#7f8082)
color__0 = darken(color__base, 85%)
color__1 = darken(color__base, 70%)
color__2 = darken(color__base, 50%)
color__3 = darken(color__base, 30%)
color__4 = color__base
color__5 = lighten(color__base, 30%)
color__6 = lighten(color__base, 50%)
color__7 = lighten(color__base, 70%)
color__8 = lighten(color__base, 85%)

// Mixins
anchor(link-color, link-color--hover, link-color--visited)
  a
    color: link-color
    &:hover
      color: link-color--hover
    &:visited
      color: link-color--visited

round-corners()
  border-radius: border-radius__default
  overflow: hidden
