// Variables
margin__default = 1.5rem

// Typography
font-family__heading = Microgramma D Extended, sans-serif
font-family__text = 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
font-size__small = .875rem

font-size__header-contact-landscape = 1.17rem

margin__portfolio-item = margin__default / 2

border-radius__default = .35rem

// Colors
color__base = (#7f8082)
color__0 = darken(color__base, 85%)
color__1 = darken(color__base, 70%)
color__2 = darken(color__base, 50%)
color__3 = darken(color__base, 30%)
color__4 = color__base
color__5 = lighten(color__base, 30%)
color__6 = lighten(color__base, 50%)
color__7 = lighten(color__base, 70%)
color__8 = lighten(color__base, 85%)

// Mixins
anchor(link-color, link-color--hover, link-color--visited)
  a
    color: link-color
    &:hover
      color: link-color--hover
    &:visited
      color: link-color--visited

round-corners()
  border-radius: border-radius__default
  overflow: hidden
