.colophon
  &__container
    display: flex
    justify-content: space-between
    padding: margin__1 margin__1 "calc(%s / 2)" % margin__1
    font-size: .75rem
    background-color: darken(color__0, 50%)
    color: color__4
    anchor(color__8, color__8, color__8)