@font-face
  font-family Microgramma D Extended
  font-weight bold
  src url(fonts/MicrogrammaD-BoldExte.woff2)
  src url(fonts/MicrogrammaD-BoldExte.woff)

body
  font-family: font-family__text
  color: color__0
  background-color: color__4

h1, h2, h3, h4, h5
  font-family: font-family__text
  text-transform: uppercase
  font-weight: bold
  color: color__0
  margin-bottom: .5em

h1, h2
  font-family: font-family__heading

a
  text-decoration: none
  color: color__8

.list-style--none
  list-style: none
  padding-left: 0

svg
  overflow: visible

.svg-fill--color__0
  fill: color__0

.svg-fill--color__8
  fill: color__8