@font-face
  font-family Microgramma D Extended
  font-weight bold
  src url(fonts/MicrogrammaD-BoldExte.woff2)
  src url(fonts/MicrogrammaD-BoldExte.woff)

body
  font-family: font-family__text
  color: color__0
  background-color: color__4

h1, h2, h3, h4, h5
  font-family: font-family__text
  text-transform: uppercase
  font-weight: bold
  color: color__0
  margin-bottom: .5em

h1, h2
  font-family: font-family__heading

a
  text-decoration: none
  color: color__8

.list-style--none
  list-style: none
  padding-left: 0

svg
  overflow: visible

.svg-fill--color__0
  fill: color__0

.svg-fill--color__8
  fill: color__8

.block
  overflow-x: hidden
  margin-bottom: 2.5rem
  & img
    width: 100%
    height: auto
    display: block

.block__title
  display: inline-block
  padding-left: margin__default
  padding-right: 1em
  border-bottom: .2em solid color__3
  box-shadow: 1.25em 0 color__3, 2.25em 0 color__6, 3.05em 0 color__7, 7em 0 color__8
  transform: skewX(-30deg)
  margin-bottom: 0

.block__title__text
  display: inline-block
  transform: skewX(30deg)

.block__content
  background-color: color__1
  color: color__6

.block__text
  padding: margin__default
  h3
    color: color__7
  p
   line-height: 1.35

// Video
.block__video 
  position: relative
  padding-bottom: 56.25%
  padding-top: 25px
  height: 0
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%