.masthead
  display: grid
  margin: margin__1
  height: calc(100vh - 50px)
  grid-template-areas: "video-production" "logo" "service-list" "header-contact"
  grid-template-rows: auto auto auto 1fr

.logo
  width: 100%
  grid-area: logo
  font-size: font-size__header-contact-landscape
  padding-bottom: .9vw

.video-production
  font-size: "calc(calc(100vw - calc(2 * %s)) / 12.979)" % margin__1
  margin: 0
  grid-area: video-production

.service-list
  margin: .25em 0
  font-size: 1.17rem
  font-weight: bold
  text-transform: uppercase
  grid-area: service-list

.header-contact
  grid-area: header-contact
  align-self: center
  font-size: font-size__header-contact-landscape
  margin: .35em 0
  a
    font-weight: bold
    

// .header-subtext
//   margin-top: 3rem
//   display: flex
//   justify-content: flex-end
//   & svg
//     width: 11rem

// .header-subtext__4k
//   fill: none
//   stroke: color__1
//   stroke-width: .5

// .header-subtext__text
//   // text-transform: uppercase

// .header-subtext__stroke
//   stroke: color__1
//   stroke-width: .5

