.material-slider {
  --material-safari-helper1: rgba(var(--material-primary-rgb, 33, 150, 243), 0.04);
  --material-safari-helper2: rgba(var(--material-primary-rgb, 33, 150, 243), 0.12);
  --material-safari-helper3: rgba(var(--material-primary-rgb, 33, 150, 243), 0.16);
  --material-safari-helper4: rgba(var(--material-primary-rgb, 33, 150, 243), 0.24);
  display: inline-block;
  width: 200px;
  color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.87);
  font-family: var(--material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
}

/* Input */
.material-slider > input {
  -webkit-appearance: none;
  /* position: relative; */
  /* top: 24px; */
  display: block;
  /* margin: 0 0 -36px; */
  width: 100%;
  /* height: 36px; */
  height: 1.5rem;
  background-color: transparent;
  cursor: pointer;
}

/* Without Span */
/* .material-slider > input:last-child {
  position: static;
  margin: 0;
} */

/* Span */
/* .material-slider > span {
  display: inline-block;
  margin-bottom: 36px;
} */

/* Focus */
/* .material-slider > input:focus {
  outline: none;
} */

/* Disabled */
.material-slider > input:disabled {
  cursor: default;
  opacity: 0.38;
}

/* .material-slider > input:disabled + span {
  color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.38);
} */

/* Webkit | Track */
.material-slider > input::-webkit-slider-runnable-track {
  margin: 17px 0;
  border-radius: 1px;
  width: 100%;
  height: 4px;
  background-color: rgba(var(--material-secondary-rgb, 33, 150, 243), 1);
}

/* Webkit | Thumb */
.material-slider > input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid var(--color__3);
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background-color: rgb(var(--material-primary-rgb, 33, 150, 243));
  transform: scale(6, 6);
  transition: box-shadow 0.2s;
}

/* Webkit | Hover, Focus */
.material-slider:hover > input::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--material-safari-helper1);
}

.material-slider > input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--material-safari-helper2);
}

.material-slider:hover > input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--material-safari-helper3);
}

/* Webkit | Active */
.material-slider > input:active::-webkit-slider-thumb {
   box-shadow: 0 0 0 2px var(--material-safari-helper4) !important;
}

/* Webkit | Disabled */
.material-slider > input:disabled::-webkit-slider-runnable-track {
  background-color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.38);
}

.material-slider > input:disabled::-webkit-slider-thumb {
  background-color: rgb(var(--material-onsurface-rgb, 0, 0, 0));
  color: rgb(var(--material-surface-rgb, 255, 255, 255)); /* Safari */
  box-shadow: 0 0 0 1px rgb(var(--material-surface-rgb, 255, 255, 255)) !important;
  transform: scale(4, 4);
}

/* Moz | Track */
.material-slider > input::-moz-range-track {
  /* margin: 17px 0; */
  margin: 1rem 0;
  border-radius: .125rem;
  /* border-radius: 1px; */
  width: 100%;
  /* height: 2px; */
  height: .25rem;
  background-color: rgba(var(--material-secondary-rgb, 33, 150, 243), 1);
}

/* Moz | Thumb */
.material-slider > input::-moz-range-thumb {
  appearance: none !important;
  -moz-appearance: none !important;
  border: none;
  border-radius: 50%;
  height: .75rem;
  width: .75rem;
  background-color: rgb(var(--material-primary-rgb, 33, 150, 243));
  transform: scale(1);
  transition: transform .2s ease;
  /* transition: box-shadow 0.2s; */
}

/* Moz | Progress */
.material-slider > input::-moz-range-progress {
  /* border-radius: 1px; */
  border-radius: .125rem;
  /* height: 2px; */
  height: .25rem;
  background-color: rgb(var(--material-primary-rgb, 33, 150, 243));
}

/* Moz | Hover, Focus */
.material-slider:hover > input:hover::-moz-range-thumb {
  /* box-shadow: 0 0 0 2px rgba(var(--material-primary-rgb, 33, 150, 243), 0.04); */
  transform: scale(1.375);
}

.material-slider > input:focus::-moz-range-thumb {
  transform: scale(1.375);
  /* box-shadow: 0 0 0 2px rgba(var(--material-primary-rgb, 33, 150, 243), 0.12); */
}

/* .material-slider:hover > input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 2px rgba(var(--material-primary-rgb, 33, 150, 243), 0.16);
} */

/* Moz | Active */
.material-slider > input:active::-moz-range-thumb {
  transform: scale(9);
  /* box-shadow: 0 0 0 2px rgba(var(--material-primary-rgb, 33, 150, 243), 0.24) !important; */
}

/* Moz | Disabled */
.material-slider > input:disabled::-moz-range-track {
  background-color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.38);
}

.material-slider > input:disabled::-moz-range-progress {
  background-color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.87);
}

.material-slider > input:disabled::-moz-range-thumb {
  background-color: rgb(var(--material-onsurface-rgb, 0, 0, 0));
  box-shadow: 0 0 0 1px rgb(var(--material-surface-rgb, 255, 255, 255)) !important;
  transform: scale(4, 4);
}

/* .material-slider > input::-moz-focus-outer {
  border: none;
} */

/* MS | Track */
.material-slider > input::-ms-track {
  box-sizing: border-box;
  margin: 17px 0;
  border: none;
  border-radius: 1px;
  padding: 0 17px;
  width: 100%;
  height: 2px;
  background-color: transparent;
}

.material-slider > input::-ms-fill-lower {
  border-radius: 1px;
  height: 2px;
  background-color: rgb(var(--material-primary-rgb, 33, 150, 243));
}

/* MS | Progress */
.material-slider > input::-ms-fill-upper {
  border-radius: 1px;
  height: 2px;
  background-color: rgba(var(--material-primary-rgb, 33, 150, 243), 0.24);
}

/* MS | Thumb */
.material-slider > input::-ms-thumb {
  appearance: none;
  margin: 0 17px;
  border: none;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background-color: rgb(var(--material-primary-rgb, 33, 150, 243));
  transform: scale(6, 6);
  transition: box-shadow 0.2s;
}

/* MS | Hover, Focus */
.material-slider:hover > input::-ms-thumb {
  box-shadow: 0 0 0 2px rgba(var(--material-primary-rgb, 33, 150, 243), 0.04);
}

.material-slider > input:focus::-ms-thumb {
  box-shadow: 0 0 0 2px rgba(var(--material-primary-rgb, 33, 150, 243), 0.12);
}

.material-slider:hover > input:focus::-ms-thumb {
  box-shadow: 0 0 0 2px rgba(var(--material-primary-rgb, 33, 150, 243), 0.16);
}

/* MS | Active */
.material-slider > input:active::-ms-thumb {
  box-shadow: 0 0 0 2px rgba(var(--material-primary-rgb, 33, 150, 243), 0.24) !important;
}

/* MS | Disabled */
.material-slider > input:disabled::-ms-fill-lower {
  background-color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.38);
}

.material-slider > input:disabled::-ms-fill-upper {
  background-color: rgba(var(--material-onsurface-rgb, 0, 0, 0), 0.38);
  opacity: 0.38;
}

.material-slider > input:disabled::-ms-thumb {
  background-color: rgb(var(--material-onsurface-rgb, 0, 0, 0));
  box-shadow: 0 0 0 1px rgb(var(--material-surface-rgb, 255, 255, 255)) !important;
  transform: scale(4, 4);
}
