@media (min-width: 480px)
  .masthead
    grid-template-areas: "logo video-production" "logo service-list" "logo header-contact"
    grid-template-rows: auto auto auto
    grid-template-columns: 1fr auto
    grid-column-gap: 7.5vw
    justify-content: end
    height: auto
    // margin-bottom: 7vw

  .logo
    grid-area: logo

  .video-production
    grid-area: video-production
    line-height: 1
    font-size: 2.75vw
    text-align: right
    // border-bottom: .15em solid color__0
    text-decoration: underline
    text-decoration-line: 2em

    margin: 0

  .service-list
    grid-area: service-list 
    font-size: 2.25vw
    text-align: right
    margin-top: .5em

  .header-contact
    grid-area: header-contact
    text-align: right
    font-size: 2.25vw
    margin: 0
    align-content: end

@media (min-width: 660px)
  :root
    --margin__0: margin__0--mid
    --margin__1: margin__1--mid
    --margin__2: margin__2--mid
    --margin__3: margin__3--mid
    --margin__4: margin__4--mid

  .block__text--about
    grid-template-columns: minmax(100px, 300px) minmax(20em, 30em)
    grid-template-rows: auto 1fr
    grid-template-areas: "figure heading" "figure text"
    img
      grid-area: figure
    h3
      grid-area: heading
      margin-top: 0
    p
      grid-area: text

  .block__content--portfolio
    padding-left: margin__1
    padding-right: margin__1
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr))
  
  .portfolio-item
    round-corners()

  .colophon
    font-size: .875rem

@media (min-width: 1024px)
  .content
    grid-template-areas: "reel about" "portfolio portfolio"
    grid-template-columns:1fr minmax(30%, 40%)

  .block--reel
    border-radius: 0 border-radius__default border-radius__default 0

  .block--about
    border-radius: 0 0 0 border-radius__default
    // overflow: hidden
    .block__title__text
      padding-left: 0

  .block__text--about
    grid-template-columns: 100%
    grid-template-areas: "figure" "heading" "text"
    grid-row-gap: 1.5em
    h3
      margin-top: 1.5em

