// Declarations
@import declarations

// Global Styles
@import global

@import "material-slider.css"

// Header
@import header

// Blocks
@import blocks

// Footer
@import footer

// Video
@import video

// Media Queries
@import media-queries