.player
    position: relative
    border-radius: border-radius__default
    overflow: hidden

    &:hover &__controls
        transform: translateY(0);

    &__video
        display: block
        width: 100%

    &__controls
        display: flex
        align-items: flex-end
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        overflow: hidden
        color: color__8
        z-index: 1
        transform: translateY(44px);
        transition: transform .3s ease;

    &__controls-wrap
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        height: min-content
        padding: (5 / 16)rem (7 / 16)rem (5 / 16)rem .75rem
        background-color: color__3
        z-index: 2

    &__button
        background: none
        border: none
        color: color__8
        cursor: pointer
        
    &__play-toggle
        flex-shrink: 0
        // overflow: hidden
        padding: 0
        z-index: 2

        &__inner
            width: 3.75rem
            padding: .75rem 1rem .75rem 1rem
            // background-color: color__3
        
        svg
            width: 100%
            height: auto
        
        &:hover
            color: color__9

    &__progress-time
        font-size: .875rem
        line-height: 1
        font-weight: 300
        padding: 0 .125em
        margin-right: .25rem
        font-variant-numeric: tabular-nums;

    &__progress-range
        flex-grow: 1
        margin-left: .25rem
        margin-right: 1rem

    &__volume-range
        width: 4rem
        margin-left: .25rem
        margin-right: 1rem

    &__decoration
        width: 5rem
        height: 100%
        position: absolute
        background-color: color__3
        transform: skew(30deg) translateX(-.75rem)
        