.player
    position: relative
    border-radius: border-radius__default
    overflow: hidden
    height: 0
    padding-bottom: (100 * 1080 / 1920)%
    background-color: #000;

    &__video
        display: block
        position: absolute
        width: 100%
        height: auto

    &__controls
        display: flex
        align-items: flex-end
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        color: color__8
        z-index: 1
        opacity: 1
        transition: opacity .2s ease

        &:hover, &.hidden:hover
            opacity: 1

        &.hidden
            opacity: 0

    &__controls-wrap
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
        width: 100%
        height: min-content
        padding: (5 / 16)rem (7 / 16)rem (5 / 16)rem .25rem
        background-color: color__3
        z-index: 2

    &__button
        background: none
        border: none
        color: color__8
        cursor: pointer
        padding: .25rem .375rem
        
    &__play-toggle
        flex-shrink: 0
        // overflow: hidden
        padding: 0 
        z-index: 2

        &__inner
            // width: 3.75rem
            padding: .875rem 1rem .875rem 1rem
            box-sizing: content-box

        svg
            // width: 100%
            // height: auto
        
        &:hover
            color: color__9

    &__time
        display: none
        width: max-content
        font-size: .875rem
        line-height: 1
        font-weight: 300
        padding: 0 .125em
        margin-right: .25rem
        font-variant-numeric: tabular-nums;
       
        @media screen and (min-width: 350px)
            display: block

        &-divider
            color: color__5
            display: none /* reveals on min-width: 500px */

        &-remaining
            color: color__7
            display: none /* reveals on min-width: 500px */

        &-divider, &-remaining
            display: none

            @media screen and (min-width: 500px)
                display: inline

    &__progress
        width: 4rem
        flex-grow: 5
        margin-left: .25rem
        margin-right: .5rem

    
    &__volume
        width: 2rem
        flex-grow: 1
        margin-left: .25rem
        margin-right: .5rem

    &__mute-toggle, &__volume-range
        display: none

        @media screen and (min-width: 450px)
            display: block

    &__quality-toggle
        transition: transform .2s ease

        &[aria-expanded="true"]
          transform: rotate(30deg)

    &__quality-menu
        position: absolute
        right: 0
        bottom: 100%
        padding: 1rem 1.5rem
        font-size: .875rem
        color: color__7
        background-color: color__2
        z-index: 1
        clip-path: polygon(0 1rem, 1rem 0, 100% 0px, 100% 100%, 0px 100%)
        opacity: 1
        // transform: translateY(0%)
        transition: all .2s ease

        & > * + *
            margin-top: .5em

        &__heading
          font-weight: 600

        &__label
            display: flex
            align-items: center

        &__radio
            margin: 0 .5rem 0 0

        &.hidden
            opacity: 0

    &__decoration
        width: 10rem
        height: 101%
        position: absolute
        background-color: color__3
        transform: skew(45deg) translateX(-5.25rem)
        // display: none;

    &:fullscreen:not(:root)
      display: flex
      align-items: center
      padding: 0
      border-radius: 0

    

    

    
