header.masthead(role='banner')
  .masthead__container.container
    include ../svg/nigelyons-logo.svg
    h1.video-production Video&nbsp;Production
    ul.service-list.list-style--none(aria-label='Services')
      li Direction
      li Production
      li Cinematography
      li Editing
    div.header-contact(aria-label='Header Contact')
      a(href='#') nigel@nigelyons.com